.container {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 6px;
  padding-right: 6px;

  @media (min-width: 640px) {
    padding-left: 12px;
  }

  @media (min-width: 980px) {
    padding-left: 24px;
    padding-right: 0;
    grid-template-columns: 1fr 250px;
  }
}
